{% load static parameters %}

<div class="configure-process">
    <h4>Profile settings</h4>
    <div class="profile-select">
        <label for="profile-selector">Profile</label>
        <select class="w-100" id="profile-selector" onchange="show_right_profile();">
            {% for profile in script.profiles.all %}
                <option value="{{ profile.id }}">Profile {{ profile.id }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="profile-forms" id="profile-item-wrapper">
        {% for profile in script.profiles.all %}
            <form class="profile-item" id="profile-item-{{ profile.id }}" style="display: none;">
                {% for template in profile.templates.all %}
                    <label for="file-selector-{{ template.id }}">{% if not template.optional %}<strong>{% endif %}{{ template.template_id }}{% if not template.optional %}*</strong>{% endif %}</label>
                    <select onchange="sync_with_server()" {% if not template.unique %}multiple{% endif %} {% if not template.optional %}required{% endif %} class="w-100 file-selector" id="file-selector-{{ template.id }}">
                        {% if template.optional %}
                            <option value="null">----------</option>
                        {% endif %}
                        {% for file in project.files.all %}
                            <option value="{{ file.id }}">{{ file.filename }}</option>
                        {% endfor %}
                    </select>
                    <p class="form-description">{{ template.label }}</p>
                {% endfor %}
            </form>
        {% endfor %}
    </div>
    <div class="parameter-form">
        {% render_parameter_form script.variable_parameters %}
    </div>
</div>

<script src="{% static 'processes/js/profile-list.js' %}"></script>
<script src="{% static 'processes/js/sync-settings.js' %}"></script>
{% if refresh_on_file_change %}
    <script>
        add_update_list(update_and_callback,
            ["{% url 'v1:project-file-listcreate' project=project %}", {}, set_file_options, method = "GET"], manual = true
        );
        let SYNC_SETTINGS_URL = '{% url 'v1:script-settings' project=project pk=script.pk %}';
    </script>
{% endif %}